<div class="card">
    <div style="display:inline">
        <div class="card-header">
            <h4 class="card-title cursor-pointer"><a href="" target="_blank">i want to develop a website</a>
            </h4>
        </div>
        <div class="card-content">
            <div class="card-body" style="width:75%;float:left">
                <p class="card-text" style="height:70px">i want to build a website or to design a prototype</p>
                <a href="" class="bdg">graphic design</a>
            </div>
        </div>
        <div class="smallDet" style="width:25%;float:left;margin-top: -50px;">
            <button type="button" class="btn btn-primary">Bid Now</button>
            <span>
        <div class="bdgType">Big project</div>
      </span>
            <span><b>Proposals</b> +12</span>
            <span><b>Posted</b> 1 month ago</span>
        </div>
        <div class="card-footer border-top d-flex justify-content-between" style="width:100%;">
            <small class="text-muted">
        <span class="sInfo"><img src="../../assets/images/map.png" style="width: 15px;"> Egypt, Cairo</span>
        <span class="sInfo"><img src="../../assets/images/yes2.jpg" style="width: 15px;"> Payment Verified</span>
        <span class="sInfo"><img src="../../assets/images/jobatak.png" style="width: 15px;"> 12 Projects</span>
        <span class="sInfo">
          <img src="http://jobatak.net/imgs/user.png" style="width: 15px;">
          <span class="rating warning">
            <i class="fa fa-star-of-david" aria-hidden="true"></i>
            <i class="fa fa-star-of-david" aria-hidden="true"></i>
            <i class="fa fa-star-of-david" aria-hidden="true"></i>
            <i class="fa fa-star-of-david" aria-hidden="true"></i>
            <i class="fa fa-star-of-david" aria-hidden="true"></i>
          </span>
        </span>
      </small>
        </div>
    </div>

</div>